.site-wrap {
  height: 1080px;
  width: 1920px;
  background-image: url("../images/site.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #181818;
}

.site-data {
  position: relative;
  height: 100%;

  /* background-color: rgba(250, 50, 10, 0.6); */
}

.site-data--inner-box {
  text-align: center;
  position: absolute;
  display: flex;
  top: 0%;
  padding-top: 5%;
  width: 800px;
  height: 100%;
  left: 6%;
  flex-direction: column;
  color: white;
}

.site-data--inner-flex2 {
}
.site-data--inner-flex2 > h2 {
  font-size: 10rem;
}
.site-data--inner-flex2 > span {
  font-size: 150%;
  text-align: center;
}

.site-data--inner-flex1 {
  width: 100%;
}
.site-data--inner-flex1 > img {
  margin-top: 10px;
  margin-bottom: 150px;
  width: 250px;
  height: auto;
}
.site-data--label {
  font-family: Proxima Nova;
}
